apiVersion: apps/v1
kind: Deployment
metadata:
  name: content-stable
  labels:
    app: content
    track: stable
spec:
  replicas: 3
  selector:
    matchLabels:
      app: content
      track: stable
  template:
    metadata:
      labels:
        app: content
        track: stable
    spec:
      containers:
        - name: content
          image: content-blue:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: APP_VERSION
              value: "v1"
            - name: APP_COLOR
              value: "blue"
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
